:root {
  --primary-color: #ffd093;
  --secondary-color: #eabc7f;
  --text-color: #000000;
  --light-gray: #f9f9f9;
  --dark-gray: #303030;
  --darker-gray: #252525;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: var(--dark-gray);
  color: var(--white);
}

.card {
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  background-color: var(--darker-gray);
}

.card-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.card-details {
  margin-bottom: 20px;
}

.room-card {
  border: 1px solid #ccc;
  border-radius: 14px;
  margin: 10px;
  padding: 20px;
  background-color: var(--darker-gray);
}

.button {
  padding: 10px 20px;
  margin: 6px;
  width: 96px;
  background-color: var(--primary-color);
  color: var(--black);
  font-weight: bold;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.15 ease-in-out;
}

.button:hover {
  background-color: var(--secondary-color);
}
